<h1>Choose Your Flavors!</h1>
<form action="beer_genres/search" method="GET">
<ul>
  {{#each controller}}
  <li><input type="checkbox" name="flavor{{unbound id}}" value="{{unbound name}}">{{name}}</li>
  {{/each}}
  <input type="submit">
</ul>
</form>