<!DOCTYPE html>
<html>
<head>
  <title>Amber</title>
  <%= stylesheet_link_tag "new_user", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render partial: "new_user" %>
  <h1 class="amber_font center_align"> Create an account with Amber! </h1>

</body>
</html>


