<nav>
	<% if logged_in? %>
	  <p class="centered_text">Welcome <%= @user.username %></p>
	  <%= link_to("Logout", "/sessions/exit") %>
	<% else %>
	  <ul id="top_nav" class="float_right">
	    <%= render partial: "/sessions/new" %>
	    <li class="right_margin_buffer"><%= link_to("Create Account", "users/new") %></li>
	  </ul>
	<% end %>
</nav>