<header>
	<h1 class="main_logo"> AMBER </h1>
	<h2 class="main_header"> This is our title and our header </h2>
</header>

<div class="genre_search_form">
	<%= form_tag("beer_genres#search", method:"get") do %>
	  <%= label_tag(:search, "Search for:") %>
	  <%= collection_select :food_flavor, :id, FoodFlavor.all, :id, :name %>
	  <%= submit_tag("Search") %>
	<% end %>
</div>

<section>
	Here are the beers we recommend
	<article>
		<span> Beer Name 1 </span>
		<p> Beer 1 description </p>
		<div> Beer stats </div>
	</article>
</section>