<h1 class="main_logo centered_text clear_floats"> Amber </h1>
<h2 class="clear_margins centered_text">Select some flavor profiles to get started!</h2>
<hr id="separator"/>



<div id="search_form_holder" class="centered_block">
	<%= render partial: "/beer_genres/search" %>
</div>

<div id="search_viewport">
	<div id="search_results">

	</div>
</div>




<div id="genre_template" class="hidden">
	<div class="genre_description relative"></div>
</div>

<div id="beer_template" class="hidden">
	<div class="sample_beer"></div>
</div>