

<div id="search_viewport">
	<div id="search_results">

	</div>
</div>




<div id="genre_template" class="hidden">
	<div class="genre_description relative"></div>
</div>

<div id="beer_template" class="hidden">
	<div class="sample_beer"></div>
</div>