<h2 class="intro clear_margins centered_text">Select some food flavors to get beer matches!</h2>

<div id="search_form_holder" class="centered_block">
  <%= render partial: "/beer_genres/search" %>
</div>