<div class="bg_img"></div>
<header>
	<h1 class="main_logo"> AMBER </h1>
	<h2 class="main_header"> This is our title and our header </h2>
</header>

<div id="search_form">
	<%= render partial: "/beer_genres/search" %>
</div>

<div id="search_results">
</div>


<div id="genre_template" class="hidden">
	<div class="genre_description"></div>
</div>

<div id="beer_template"><ul class="beer_list"></ul></div>