<div class="bg_img"></div>
<header>
	<h1 class="main_logo"> AMBER </h1>
	<h2 class="main_header"> This is our title and our header </h2>
</header>

<div class="genre_search_form">
	<%= render partial: "/beer_genres/search" %>
</div>