.genre{
	background-color: white;
	margin: 1%;
	border-radius: 10px;
}
.sample_beer{
	background-color: #f6f6e7;
	opacity: 0.9;
	margin: 1%;
	border-radius: 10px;
}
.genre_name{
	padding-top: 0.7em;
}
.genre_description{
	width: 90%;
	margin: 0 auto;
}