/*>>>>>>>>>>>>>>> main document stylings <<<<<<<<<<<<<<<*/
body, html {
    margin: 0;
    padding: 0;
}

body{
    background-image:url("beerfoam.png");
	background-size: cover;                    
    background-repeat: no-repeat;
	opacity: 0.8;
	background-repeat:no-repeat;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*>>>>>>>>>>>>>>> generic class stylings <<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.centered_text {
    text-align: center;
}

.centered_block {
    margin: 0 auto;
}

.float_right {
    float: right;
}

.clear_floats {
    clear: both;
}

.right_margin_buffer {
    margin-right: 50px;
}

.small_side_margins {
    margin: 0px 8px;
}

.clear_margins {
    margin: 0px;
}

.hidden {
    display: none
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/*>>>>>>>>>>>>>>>>> User navigation bar <<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#top_nav li{
    display: inline;
}
#top_nav form {
    display: inline;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/*>>>>>>>>>>>>>>>>>>> 'Logo' and info <<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.main_logo{
    font-size: 4em;
    margin: 0px;
}

/*horizontal rule under app name*/
#separator {
    height: 12px;
    border: 0;
    margin-top: 0px;
    box-shadow: inset 0 12px 12px -12px rgba(173,140,7,0.5);
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    width: 450px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*>>>>>>> genre matche search based on user input <<<<<<<*/
/*holds the flavor profiles table*/
#search_form_holder {
    width: 550px;
}

#flavor_table {
    width: 80%;
}

#find_genre_submit {
    width: 100%;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*search viewport works in conjunction with search results
this styling allows search results to be positioned relative
and allow it to strech to the bottom of the page*/
#search_viewport {
    height: 55%;
}

#search_viewport:before {
    content: '';
    float: left;
    height: 100%;
}

/*>>>>>   div that holds the results of searches  <<<<<*/
#search_results{
    background-color: #FFE066;
    position: relative;
    top: -5px;
}
#search_results:after {
    content: '';
    display: block;
    clear: both;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/*>>>>>>>>>>>>>>>> genre search result <<<<<<<<<<<<<<<<*/
#genre_results{
    width: 880px;
    margin: 0 auto;
}

/*div that gets appended via JS
holds info about each genre match*/
.genre_description {
    color: white;
    border: 1px solid black;
    margin-top: 2%;
    background-color: #B88907;
    width: 208px;
    height: 290px;
    float: left;
    margin-right:10px; 
}
/*button to send request to search for beers of a specific genre*/
.beer_search_button{
    bottom:5px;
    right:23%;  
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/





/*>>>>>>>>>>>>>>>>>>>> beer search <<<<<<<<<<<<<<<<<<<<*/
.sample_beer {
    border: 1px solid black;
    margin: 0px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/




.error_messages {
    border: 2px red solid;
}

