body, html {
    margin: 0;
    padding: 0;
}

body{
    background-image:url("beerfoam.png");
	background-size: cover;                    
    background-repeat: no-repeat;
	opacity: 0.8;
	background-repeat:no-repeat;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

@font-face {
    font-family: 'mojito';
    src: url('/assets/fonts/mojito.ttf');
}

.centered_text {
    text-align: center;
}
.float_right {
    float: right;
}
.clear_floats {
    clear: both;
}
.right_margin_buffer {
    margin-right: 50px;
}

.centered_block {
    margin: 0 auto;
}
#flavor_table {
    width: 80%;
}
#top_nav li{
    display: inline;
}
#top_nav form {
    display: inline;
}

.clear_margins {
    margin: 0px;
}

#separator {
    height: 12px;
    border: 0;
    margin-top: 0px;
    box-shadow: inset 0 12px 12px -12px rgba(173,140,7,0.5);
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    width: 450px;
}

#search_form_holder {
    width: 550px;
}

#find_genre_submit {
    width: 100%;
}


.main_logo{
    /*font-family: 'mojito';*/
    font-size: 4em;
    margin: 0px;
}


/*search viewport works in conjunction with search results
this styling allows search results to be positioned relative
and allow it to strech to the bottom of the page*/
#search_viewport {
    height: 100%;
}

#search_viewport:before {
    content: '';
    float: left;
    height: 100%;
}
/***   div that holds the results of genre search   */
#search_results{
    background-color: #FFE066;
    position: relative;
    top: -5px;
}
#search_results:after {
    content: '';
    display: block;
    clear: both;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/



#genre_results{
    width: 880px;
    margin: 0 auto;
}

.small_side_margins {
    margin: 0px 8px;
}

#food_flavor_id{
    border:1px solid #777;
    padding: 5px;
    color: #999;
    background: #fff;
    border-radius: 5px;
}

.hidden {
    display: none
}


.genre_description {
    color: white;
    border: 1px solid black;
    margin-top: 2%;
    background-color: #B88907;
    width: 208px;
    height: 290px;
    float: left;
    margin-right:10px; 
}

.sample_beer {
    border: 1px solid black;
}

#beer_template{
    position: relative;
    margin-top: 0;
    margin-left: 0; 
    padding-left: 0; 
    width: 100%;
    height:500px;
    font-size: 30px;
}

.relative{
    position: relative;
}
.beer_search{
    bottom:5px;
    right:23%;  
}
.absolute{
    position: absolute;
}

.error_messages {
    border: 2px red solid;
}

