@font-face {
  font-family: "mojito";
  src: url(/assets/mojito.ttf);
}


/*>>>>>>>>>>>>>>> generic class stylings <<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.amber_font {
	font-family: "mojito";
}

.red {
	color: red;
}

.underlined {
	text-decoration: underline;
}

.right_margin {
	margin-right: 25%;
}

.block {
	display: block;
}

.right_align {
	text-align: right;
}

.center_align {
	text-align: center;
}

.no_list_style {
	list-style-type: none;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<*/


.new_user_form {
	width: 500px;
	margin: 50px auto 0px auto;
}
.field_with_errors {
	display: inline;
}