<!DOCTYPE html>
<html>
<head>
  <title>Amber</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD1vH1P_r1rkvu8IR36I41Rr_KuLPKZMg">
    </script>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
